
<!--   ----------------------------------------------------------------- -->
<!--   ----------------------------------------------------------------- -->
<!--  consultas por numero de contrato  ----------------------------------------------------------------- -->
<!--   ----------------------------------------------------------------- -->
<!--   ----------------------------------------------------------------- -->
<div class="sg">
  <h1 class="be"> B.E.S.A </h1>
  <h2 class="sd"> Sistema de Seguimientos a Contratos </h2>
  <h3 class="see"><font color="gray"> Seleccionar el contrato a consultar </font></h3>
    <select class="sel" name="" style="width:400px">
      <option value="<?php print($row->id); ?>"></option>
    </select><br><br><br>
    <table border="0" cellpadding="10">
        <tr>
          <td><button onclick="location.href='consulta_numero_contrato.html'"style="width:270px; height:50px" class="con"> Consultar </button></td>
          <td><button onclick="location.href='../consultas.html'"style="width:270px; height:50px" class="reg"> Regresar </button></td>
        </tr>
      </table>
  </div>
    <!--   ----------------------------------------------------------------- -->
    <!--   ----------------------------------------------------------------- -->
    <!-- fin consultas por numero de contrator   ----------------------------------------------------------------- -->
    <!--   ----------------------------------------------------------------- -->
    <!--   ----------------------------------------------------------------- -->
