ul.CTAs a {
    background-color: rgb(167, 167, 167);
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 115px;
    margin-bottom: 5px;
}


/*boton atras*/


/*boton menu*/

a.btnmenu,
a.btnmenu:hover {
    background: rgb(25, 22, 46);
    background: -moz-linear-gradient(left, rgba(27, 31, 61) 0%, rgba(40, 36, 56) 52%, rgba(40, 36, 56) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(27, 31, 61)), color-stop(52%, rgba(40, 36, 56)), color-stop(100%, rgba(40, 36, 56)));
    background: -webkit-linear-gradient(left, rgba(27, 31, 61) 0%, rgba(840, 36, 56) 52%, rgba(40, 36, 56) 100%);
    background: -o-linear-gradient(left, rgba(27, 31, 61) 0%, rgba(40, 36, 56) 52%, rgba(40, 36, 56) 100%);
    background: -ms-linear-gradient(left, rgba(27, 31, 61) 0%, rgba(40, 36, 56) 52%, rgba(40, 36, 56) 100%);
    background: linear-gradient(to right, rgba(27, 31, 61) 0%, rgba(40, 36, 56) 52%, rgb(40, 36, 56) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#7a2424', endColorstr='#661313', GradientType=1);
    -webkit-box-shadow: -7px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -7px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -7px 10px 5px 0px rgba(0, 0, 0, 0.75);
    margin-top: 15px;
}

#posicion1 {
    text-align: center;
}

#posicion {
    margin-top: -150px;
}

.nav-itemm {
    margin: -8px 10px;
    color: #590000;
    margin-left: 0%;
    margin-right: 30%;
}

.textalign {
    margin-top: -14%;
    margin-left: 20%;
}

#posicionbread {
    margin: 0px 0px;
    margin-top: -18%;
    margin-left: -100%;
    margin-right: 100%;
}


/*******************
/*Top bar
*******************/

.topbar {
    background: #590000;
}

.topbar .top-navbar .navbar-header .navbar-brand .light-logo {
    display: none;
}

.topbar .top-navbar .navbar-nav>.nav-item>span {
    color: #fefeff;
}

.topbar .navbar-light .navbar-nav .nav-item>a.nav-link {
    background: rgba(122, 36, 36, 1);
    background: -moz-linear-gradient(left, rgba(122, 36, 36, 1) 0%, rgba(82, 15, 15, 1) 52%, rgba(102, 19, 19, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(122, 36, 36, 1)), color-stop(52%, rgba(82, 15, 15, 1)), color-stop(100%, rgba(102, 19, 19, 1)));
    background: -webkit-linear-gradient(left, rgba(122, 36, 36, 1) 0%, rgba(82, 15, 15, 1) 52%, rgba(102, 19, 19, 1) 100%);
    background: -o-linear-gradient(left, rgba(122, 36, 36, 1) 0%, rgba(82, 15, 15, 1) 52%, rgba(102, 19, 19, 1) 100%);
    background: -ms-linear-gradient(left, rgba(122, 36, 36, 1) 0%, rgba(82, 15, 15, 1) 52%, rgba(102, 19, 19, 1) 100%);
    background: linear-gradient(to right, rgba(122, 36, 36, 1) 0%, rgba(82, 15, 15, 1) 52%, rgba(102, 19, 19, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#7a2424', endColorstr='#661313', GradientType=1);
    -webkit-box-shadow: -7px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -7px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -7px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.topbar .navbar-light .navbar-nav .nav-item>a.nav-link:hover,
.topbar .navbar-light .navbar-nav .nav-item>a.nav-link:focus {
    color: #ffffff !important;
}

.logo-center .topbar .navbar-header {
    text-align: center;
    padding-left: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.logo-center .topbar .top-navbar .navbar-header .navbar-brand .dark-logo {
    display: none;
}

.logo-center .topbar .top-navbar .navbar-header .navbar-brand .light-logo {
    display: inline-block;
    color: rgba(255, 255, 255, 0.8);
}


/*******************
/*General Elements
*******************/

a {
    color: #398bf7;
}

a.link:hover,
a.link:focus {
    color: #48ff00 !important;
}

.bg-theme {
    background-color: #7bff00 !important;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    background-color: #c8ff00;
    border-color: #d0ff00;
}

.right-sidebar .rpanel-title {
    background: #d0ff00;
}

.stylish-table tbody tr:hover,
.stylish-table tbody tr.active {
    border-left: 0px solid #cef739;
}

.text-themecolor {
    color: #747474 !important;
}

.profile-tab li a.nav-link.active,
.customtab li a.nav-link.active {
    border-bottom: 0px solid #88ff00;
    color: #7bff00;
}

.profile-tab li a.nav-link:hover,
.customtab li a.nav-link:hover {
    color: #398bf7;
}


/*******************
/*Buttons
*******************/

.btn-themecolor,
.btn-themecolor.disabled {
    background: #398bf7;
    color: #5eff00;
    border: 1px solid #398bf7;
}

.btn-themecolor:hover,
.btn-themecolor.disabled:hover {
    background: #398bf7;
    opacity: 0.7;
    border: 1px solid #398bf7;
}

.btn-themecolor.active,
.btn-themecolor:focus,
.btn-themecolor.disabled.active,
.btn-themecolor.disabled:focus {
    background: #028ee1;
}


/*******************
/*sidebar navigation
*******************/

.card-no-border .left-sidebar,
.card-no-border .sidebar-nav {
    background: #242c38;
    -webkit-box-shadow: -14px 14px 5px 0px rgba(0, 0, 0, 0.95);
    -moz-box-shadow: -14px 14px 5px 0px rgba(0, 0, 0, 0.95);
    box-shadow: -14px 14px 5px 0px rgba(0, 0, 0, 0.95);
}

.mini-sidebar .sidebar-nav {
    background: transparent;
}

@media (min-width: 768px) {
    .mini-sidebar .sidebar-nav #sidebarnav>li>ul {
        background: #1c2128;
        -webkit-box-shadow: -14px 14px 5px 0px rgba(0, 0, 0, 0.95);
        -moz-box-shadow: -14px 14px 5px 0px rgba(0, 0, 0, 0.95);
        box-shadow: -14px 14px 5px 0px rgba(0, 0, 0, 0.95);
    }
}

.sidebar-nav {
    background: #242a33;
}

.user-profile .profile-text a {
    color: #687384 !important;
}

.card-no-border .sidebar-footer {
    background: #1c2128;
}

.label-themecolor {
    background: #0051ff;
}

.sidebar-nav>ul>li.active>a {
    color: #ffffff;
    border-color: #398bf7;
}

.sidebar-nav>ul>li.active>a i {
    color: #ffffff;
}

.sidebar-nav ul li a.active,
.sidebar-nav ul li a:hover {
    color: #ffffff;
}

.sidebar-nav ul li a.active i,
.sidebar-nav ul li a:hover i {
    color: #ffffff;
}

.sidebar-nav ul li.nav-small-cap {
    color: #ffffff;
}

@media (min-width: 768px) {
    .mini-sidebar .sidebar-nav #sidebarnav>li:hover>a {
        background: #1c2128;
        -webkit-box-shadow: -14px 14px 5px 0px rgba(0, 0, 0, 0.95);
        -moz-box-shadow: -14px 14px 5px 0px rgba(0, 0, 0, 0.95);
        box-shadow: -14px 14px 5px 0px rgba(0, 0, 0, 0.95);
    }
}