/* DEMO STYLE */

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #ffefd8;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: rgb(255, 255, 255);
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: rgb(255, 255, 255);
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}


/*gob encabezado*/

.nav-item {
    margin: 10px 100px;
    color: white;
    margin-left: 8.5cm;
}


/*separador de parrafos*/

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed rgb(0, 0, 0);
    margin: 40px 0;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}


/*color slide*/

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #590000;
    color: #fff;
    webkit-box-shadow: -7px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -7px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -7px 10px 5px 0px rgba(0, 0, 0, 0.75);
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}


/*encabezado slide*/

#sidebar .sidebar-header {
    padding: 20px;
    background: #590000;
    margin: 25px;
}

#sidebar .sidebar-txt {
    margin: 5px;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #ffffff;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}


/*color inverso al apuntar*/

#sidebar ul li a:hover {
    color: #590000;
    background: #fff;
}


/*menu mamon*/

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #590000;
}


/*flechitas*/

a[data-toggle="collapse"] {
    position: relative;
}


/*flechitas*/

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}


/*sidebar pestañas internas*/

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #a16262;
}

ul.CTAs {
    padding: 20px;
}


/*funciones de los botones*/

ul.CTAs a {
    background-color: greenyellow;
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 115px;
    margin-bottom: 5px;
}


/*boton atras*/

a.download {
    background: rgba(122, 36, 36, 1);
    background: -moz-linear-gradient(left, rgba(122, 36, 36, 1) 0%, rgba(82, 15, 15, 1) 52%, rgba(102, 19, 19, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(122, 36, 36, 1)), color-stop(52%, rgba(82, 15, 15, 1)), color-stop(100%, rgba(102, 19, 19, 1)));
    background: -webkit-linear-gradient(left, rgba(122, 36, 36, 1) 0%, rgba(82, 15, 15, 1) 52%, rgba(102, 19, 19, 1) 100%);
    background: -o-linear-gradient(left, rgba(122, 36, 36, 1) 0%, rgba(82, 15, 15, 1) 52%, rgba(102, 19, 19, 1) 100%);
    background: -ms-linear-gradient(left, rgba(122, 36, 36, 1) 0%, rgba(82, 15, 15, 1) 52%, rgba(102, 19, 19, 1) 100%);
    background: linear-gradient(to right, rgba(122, 36, 36, 1) 0%, rgba(82, 15, 15, 1) 52%, rgba(102, 19, 19, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#7a2424', endColorstr='#661313', GradientType=1);
    -webkit-box-shadow: -7px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -7px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -7px 10px 5px 0px rgba(0, 0, 0, 0.75);
}


/*boton menu*/

a.article,
a.article:hover {
    background: rgba(122, 36, 36, 1);
    background: -moz-linear-gradient(left, rgba(122, 36, 36, 1) 0%, rgba(82, 15, 15, 1) 52%, rgba(102, 19, 19, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(122, 36, 36, 1)), color-stop(52%, rgba(82, 15, 15, 1)), color-stop(100%, rgba(102, 19, 19, 1)));
    background: -webkit-linear-gradient(left, rgba(122, 36, 36, 1) 0%, rgba(82, 15, 15, 1) 52%, rgba(102, 19, 19, 1) 100%);
    background: -o-linear-gradient(left, rgba(122, 36, 36, 1) 0%, rgba(82, 15, 15, 1) 52%, rgba(102, 19, 19, 1) 100%);
    background: -ms-linear-gradient(left, rgba(122, 36, 36, 1) 0%, rgba(82, 15, 15, 1) 52%, rgba(102, 19, 19, 1) 100%);
    background: linear-gradient(to right, rgba(122, 36, 36, 1) 0%, rgba(82, 15, 15, 1) 52%, rgba(102, 19, 19, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#7a2424', endColorstr='#661313', GradientType=1);
    -webkit-box-shadow: -7px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -7px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -7px 10px 5px 0px rgba(0, 0, 0, 0.75);
    margin-top: 15px;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */


/*body*/

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    background: rgba(255, 239, 216, 1);
    background: -moz-linear-gradient(left, rgba(255, 239, 216, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 239, 216, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
    background: -webkit-linear-gradient(left, rgba(255, 239, 216, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(left, rgba(255, 239, 216, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(left, rgba(255, 239, 216, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to right, rgba(255, 239, 216, 1) 0%, rgba(255, 255, 255, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffefd8', endColorstr='#ffffff', GradientType=1);
    -webkit-box-shadow: -7px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -7px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -7px 10px 5px 0px rgba(0, 0, 0, 0.75);
}


/*barra de arriba xD*/

#navbarSupportedContent {
    background: rgba(122, 36, 36, 1);
    background: -moz-linear-gradient(left, rgba(122, 36, 36, 1) 0%, rgba(82, 15, 15, 1) 0%, rgba(102, 19, 19, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(122, 36, 36, 1)), color-stop(0%, rgba(82, 15, 15, 1)), color-stop(100%, rgba(102, 19, 19, 1)));
    background: -webkit-linear-gradient(left, rgba(122, 36, 36, 1) 0%, rgba(82, 15, 15, 1) 0%, rgba(102, 19, 19, 1) 100%);
    background: -o-linear-gradient(left, rgba(122, 36, 36, 1) 0%, rgba(82, 15, 15, 1) 0%, rgba(102, 19, 19, 1) 100%);
    background: -ms-linear-gradient(left, rgba(122, 36, 36, 1) 0%, rgba(82, 15, 15, 1) 0%, rgba(102, 19, 19, 1) 100%);
    background: linear-gradient(to right, rgba(122, 36, 36, 1) 0%, rgba(82, 15, 15, 1) 0%, rgba(102, 19, 19, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#7a2424', endColorstr='#661313', GradientType=1);
    -webkit-box-shadow: -7px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -7px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -7px 10px 5px 0px rgba(0, 0, 0, 0.75);
}


/*boton de desplazamiento */

#sidebarCollapse {
    background-color: #590000;
}


/*boton derecho al minimizar*/

#btn-derecho {
    background-color: #590000;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
        background-color: #590000;
    }
    #sidebarCollapse span {
        display: none;
    }
}
