/* DEMO STYLE */

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #ffefd8;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #590000;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #590000;
    margin: 25px;
}

#sidebar .sidebar-txt {
    margin: 5px;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #590000;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #590000;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #590000;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #a16262;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: rgba(122, 36, 36, 1);
    background: -moz-linear-gradient(left, rgba(122, 36, 36, 1) 0%, rgba(82, 15, 15, 1) 52%, rgba(102, 19, 19, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(122, 36, 36, 1)), color-stop(52%, rgba(82, 15, 15, 1)), color-stop(100%, rgba(102, 19, 19, 1)));
    background: -webkit-linear-gradient(left, rgba(122, 36, 36, 1) 0%, rgba(82, 15, 15, 1) 52%, rgba(102, 19, 19, 1) 100%);
    background: -o-linear-gradient(left, rgba(122, 36, 36, 1) 0%, rgba(82, 15, 15, 1) 52%, rgba(102, 19, 19, 1) 100%);
    background: -ms-linear-gradient(left, rgba(122, 36, 36, 1) 0%, rgba(82, 15, 15, 1) 52%, rgba(102, 19, 19, 1) 100%);
    background: linear-gradient(to right, rgba(122, 36, 36, 1) 0%, rgba(82, 15, 15, 1) 52%, rgba(102, 19, 19, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#7a2424', endColorstr='#661313', GradientType=1);
    -webkit-box-shadow: -7px 11px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -7px 11px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -7px 11px 5px 0px rgba(0, 0, 0, 0.75);
}

a.article,
a.article:hover {
    background: rgba(122, 36, 36, 1);
    background: -moz-linear-gradient(left, rgba(122, 36, 36, 1) 0%, rgba(82, 15, 15, 1) 52%, rgba(102, 19, 19, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(122, 36, 36, 1)), color-stop(52%, rgba(82, 15, 15, 1)), color-stop(100%, rgba(102, 19, 19, 1)));
    background: -webkit-linear-gradient(left, rgba(122, 36, 36, 1) 0%, rgba(82, 15, 15, 1) 52%, rgba(102, 19, 19, 1) 100%);
    background: -o-linear-gradient(left, rgba(122, 36, 36, 1) 0%, rgba(82, 15, 15, 1) 52%, rgba(102, 19, 19, 1) 100%);
    background: -ms-linear-gradient(left, rgba(122, 36, 36, 1) 0%, rgba(82, 15, 15, 1) 52%, rgba(102, 19, 19, 1) 100%);
    background: linear-gradient(to right, rgba(122, 36, 36, 1) 0%, rgba(82, 15, 15, 1) 52%, rgba(102, 19, 19, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#7a2424', endColorstr='#661313', GradientType=1);
    -webkit-box-shadow: -7px 11px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -7px 11px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -7px 11px 5px 0px rgba(0, 0, 0, 0.75);
    margin-top: 15px;
}

.con{
  background: rgba(122, 36, 36, 1);
  background: -moz-linear-gradient(left, rgba(122, 36, 36, 1) 0%, rgba(82, 15, 15, 1) 52%, rgba(102, 19, 19, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(122, 36, 36, 1)), color-stop(52%, rgba(82, 15, 15, 1)), color-stop(100%, rgba(102, 19, 19, 1)));
  background: -webkit-linear-gradient(left, rgba(122, 36, 36, 1) 0%, rgba(82, 15, 15, 1) 52%, rgba(102, 19, 19, 1) 100%);
  background: -o-linear-gradient(left, rgba(122, 36, 36, 1) 0%, rgba(82, 15, 15, 1) 52%, rgba(102, 19, 19, 1) 100%);
  background: -ms-linear-gradient(left, rgba(122, 36, 36, 1) 0%, rgba(82, 15, 15, 1) 52%, rgba(102, 19, 19, 1) 100%);
  background: linear-gradient(to right, rgba(122, 36, 36, 1) 0%, rgba(82, 15, 15, 1) 52%, rgba(102, 19, 19, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#7a2424', endColorstr='#661313', GradientType=1);
  -webkit-box-shadow: -7px 11px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -7px 11px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -7px 11px 5px 0px rgba(0, 0, 0, 0.75);
  color:white;
}
.reg{
  background: rgba(122, 36, 36, 1);
  background: -moz-linear-gradient(left, rgba(122, 36, 36, 1) 0%, rgba(82, 15, 15, 1) 52%, rgba(102, 19, 19, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(122, 36, 36, 1)), color-stop(52%, rgba(82, 15, 15, 1)), color-stop(100%, rgba(102, 19, 19, 1)));
  background: -webkit-linear-gradient(left, rgba(122, 36, 36, 1) 0%, rgba(82, 15, 15, 1) 52%, rgba(102, 19, 19, 1) 100%);
  background: -o-linear-gradient(left, rgba(122, 36, 36, 1) 0%, rgba(82, 15, 15, 1) 52%, rgba(102, 19, 19, 1) 100%);
  background: -ms-linear-gradient(left, rgba(122, 36, 36, 1) 0%, rgba(82, 15, 15, 1) 52%, rgba(102, 19, 19, 1) 100%);
  background: linear-gradient(to right, rgba(122, 36, 36, 1) 0%, rgba(82, 15, 15, 1) 52%, rgba(102, 19, 19, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#7a2424', endColorstr='#661313', GradientType=1);
  -webkit-box-shadow: -7px 11px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -7px 11px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -7px 11px 5px 0px rgba(0, 0, 0, 0.75);
  color:white;
  margin-left: 50px;
}

.sel{
  margin-left: 135px;
}

.sg{
  margin-left: 300px;
}
.be{
  margin-left: 260px;
}
.sd{
  margin-left: 50px;
}
.see{
  margin-left: 120px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

#navbarSupportedContent {
    background: rgba(122, 36, 36, 1);
    background: -moz-linear-gradient(left, rgba(122, 36, 36, 1) 0%, rgba(82, 15, 15, 1) 0%, rgba(102, 19, 19, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(122, 36, 36, 1)), color-stop(0%, rgba(82, 15, 15, 1)), color-stop(100%, rgba(102, 19, 19, 1)));
    background: -webkit-linear-gradient(left, rgba(122, 36, 36, 1) 0%, rgba(82, 15, 15, 1) 0%, rgba(102, 19, 19, 1) 100%);
    background: -o-linear-gradient(left, rgba(122, 36, 36, 1) 0%, rgba(82, 15, 15, 1) 0%, rgba(102, 19, 19, 1) 100%);
    background: -ms-linear-gradient(left, rgba(122, 36, 36, 1) 0%, rgba(82, 15, 15, 1) 0%, rgba(102, 19, 19, 1) 100%);
    background: linear-gradient(to right, rgba(122, 36, 36, 1) 0%, rgba(82, 15, 15, 1) 0%, rgba(102, 19, 19, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#7a2424', endColorstr='#661313', GradientType=1);
}

#sidebarCollapse {
    background-color: #590000;
}

#btn-derecho {
    background-color: #590000;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
