<div class="overlay" *ngIf="!load">

    <div class="spinner ">


    </div>

</div>



<!--prueba-->

<!--prueba-->



<div class="wrapper">
    <!-- Sidebar  -->



    <nav id="sidebar">



        <div class="sidebar-header">
            <h3>B.E.S.A.</h3>
            <strong>BESA</strong>
        </div>
        <ul class="list-unstyled components">
            <li class="active">
                Seleccione una opción









                <li>
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Consultas</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a routerLink='inicio'>Consulta por numero de contrato</a>
                        </li>
                        <li>
                            <a href="#">Consultas por fecha de adjudicación</a>
                        </li>

                    </ul>
                </li>

                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Contratos</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#">Constratos por partida</a>
                        </li>

                        <li>
                            <a href="#">Contratos por porveedor</a>
                        </li>
                        <li>
                            <a href="#">Contratos por periodo</a>
                        </li>
                        <li>
                            <a href="#">Contratos y proveedores por UR</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Informe</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu2">
                        <li>
                            <a href="#">Informe 70-30</a>
                        </li>

                        <li>

                            <a href="#">Informe montos por procedimiento</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenu3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Fecha</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu3">
                        <li>
                            <a href="#">Fechas entregables</a>

                        </li>

                        <li>
                            <a href="#">Fecha de formalización</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#pageSubmenu4" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Otros</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu4">
                        <li>
                            <a href="#">Fin de vigencia</a>

                        </li>
                        <li>
                            <a href="#">Top montos por contrato</a>
                        </li>
                    </ul>

                </li>
                <li>
                    <a [routerLink]="['/pruebas']" routerLinkActive="router-link-active">Acerca de BESA</a>
                </li>
        </ul>

        <ul class="list-unstyled CTAs">
            <li>
                <a href="#" class="download">Atras</a>
            </li>
            <li>
                <a href="#" class="article">Menu</a>
            </li>
        </ul>

    </nav>

    <!-- Page Content  -->
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span></span>
                    </button>


                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item active">

                        </li>

                        <li class="nav-item">
                            <img src="../../../assets/fpp.png" width=300px height=90px id=posicion1>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
        <footer class="footer"> © 2020 MORENO FUENTES ERIC ALEXANDER </footer>