<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar div.page-wrapper">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar wrapper">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav ">
            <ul id="sidebarnav">
                <li class="user-profile">
                    <a class="has-arrow waves-effect waves-light" href="#" aria-expanded="false"><img src="../../../assets/images/users/alex.jpg" alt="user" /><span class="hide-menu">Alexander Moreno </span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="javascript:void()">Cosas</a></li>
                        <li><a href="javascript:void()">Cosas</a></li>
                        <li><a href="javascript:void()">Cosas</a></li>
                        <li><a href="javascript:void()">Cosas</a></li>
                        <li><a href="javascript:void()">Cosas</a></li>
                    </ul>
                </li>
                <li class="nav-devider"></li>
                <li class="nav-small-cap">Seleccione una opción</li>
                <li> <a class="has-arrow waves-effect waves-light" href="#" aria-expanded="false"><i class="mdi mdi-account-search"></i><span class="hide-menu">Consultas <span class="label label-rouded label-themecolor pull-right">2</span></span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="index.html"> Consulta por numero de contrato </a></li>
                        <li><a href="index2.html"> Consulta por fecha de adjudicación </a></li>

                    </ul>
                </li>
                <li> <a class="has-arrow waves-effect waves-light" href="#" aria-expanded="false"><i class="mdi mdi-blur-radial"></i><span class="hide-menu"> Contratos <span class="label label-rouded label-themecolor pull-right">4</span></span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="index.html"> Contratos por partida </a></li>
                        <li><a href="index2.html"> Contratos por proveedor </a></li>
                        <li><a href="index3.html"> Contratos por periodo </a></li>
                        <li><a href="index4.html"> Contratos y proveedores por UR </a></li>
                    </ul>
                </li>
                <li> <a class="has-arrow waves-effect waves-light" href="#" aria-expanded="false"><i class="mdi mdi-animation"></i><span class="hide-menu"> Informe <span class="label label-rouded label-themecolor pull-right">2</span></span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="index.html"> Informe 70-30 </a></li>
                        <li><a href="index2.html"> Informe montos por procedimiento </a></li>

                    </ul>
                </li>
                <li> <a class="has-arrow waves-effect waves-light" href="#" aria-expanded="false"><i class="mdi mdi-calendar"></i><span class="hide-menu"> Fecha <span class="label label-rouded label-themecolor pull-right">2</span></span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="index.html"> Fechas entregables </a></li>
                        <li><a href="index2.html"> Fecha de formalización </a></li>

                    </ul>
                </li>
                <li> <a class="has-arrow waves-effect waves-light" href="#" aria-expanded="false"><i class="mdi mdi-file"></i><span class="hide-menu"> Otros <span class="label label-rouded label-themecolor pull-right">2</span></span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="index.html"> Fin de vigencia </a></li>
                        <li><a href="index2.html"> Top montos por contrato </a></li>

                    </ul>
                </li>

            </ul>
            <button class="btn btn-outline-info btn-block text-uppercase btn-rounded waves-effect waves-light" href="#" aria-expanded="false" type="submit">Inicio</button>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->